:root {
    --print-font: 'Quicksand', sans-serif;
    --cursive: 'Dancing Script', cursive;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #ffff;
}

html{
    scroll-behavior: smooth;
}

/* Style for Header */
h2 {
    padding: 1%;
}

header {
    background-color: #A9DBB8;
}

  header h1 {
    display: flex;
    justify-content: center;
    padding: 2%;
    font-family: var(--print-font)
}

.selfie {
    display: inline-block;
    margin-left: 43%;
    padding: 1%;
    max-width: 15%;
    max-height: 15%;
    border-radius: 100%;
}

header nav {
    background-color: #A9DBB8;
    font-family: var(--print-font);
    font-size: 30px;
    display: flex;
    justify-content: center;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-left: 25px;
    font-size: 90%;
}

/* Style for About Me Section */
#about-me-content {
    background-color:#CA907E ;
    font-family: var(--print-font);
    font-size: 25px;
    padding: 2%;
}

#about-me-content h3 {
    font-family: var(--cursive);
    font-size: 40px;
    padding: 1%;
}

/* Style for My Work */
#my-work-content {
    background-color: #F5F5DC;
    font-family: var(--print-font);
    font-size: 25px;
    padding: 1%;
}

#my-work-content h3 {
    padding: 1%;
    display: inline-block
}

#my-work-content img {
    display: inline-block;
    max-width: 30%;
    max-height: 30%;
}

/* first project image needs to be larger in size than the others. */

/* Style for Contact Info */

#contact-info-content {
    background-color: #994636;
    font-family: var(--print-font);
    font-size: 30px;
    list-style-type: none;
}

footer {
    padding: 30px;
    clear: both;
    font-family: var(--cursive);
    text-align: center;
    background-color: #A9DBB8;
    font-size: 50px;
}


/* two media breakpoints: one for phone and one for tablet */