:root {
    --print-font: 'Quicksand', sans-serif;
    --cursive: 'Dancing Script', cursive;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #ffff;
}

html{
    scroll-behavior: smooth;
  }

h2 {
    padding: 1%;
}

header {
    background-color: #A9DBB8;
}

  header h1 {
    display: flex;
    justify-content: center;
    padding: 2.5%;
    font-family: var(--print-font)
}

.selfie {
    display: flex;
    justify-content: center;
    max-width: 10%;
    max-height: 10%;
    border-radius: 100%;
}

header nav {
    background-color: #A9DBB8;
    font-family: var(--print-font);
    font-size: 30px;
    display: flex;
    justify-content: center;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-left: 25px;
}

#about-me-content {
    background-color:#CA907E ;
    font-family: var(--print-font)
}

#about-me-content h3 {
    font-family: var(--cursive);
}

#my-work-content {
    background-color: #F5F5DC;
    font-family: var(--print-font)
    /* display; flex: */
}

/* first project image needs to be larger in size than the others. */
#contact-info-content {
    background-color: #994636;
    font-family: var(--print-font);
}

/* two media breakpoints: one for phone and one for tablet */

footer {
    padding: 30px;
    clear: both;
    font-family: var(--cursive);
    text-align: center;
    background-color: #A9DBB8;
}